@charset "UTF-8";
/* CSS Document */

body {
 font-family: futura-pt, sans-serif;
 font-weight: 700;
 font-style: italic;
 color: black;
 padding: 70px 0;
 background-color:#FF49FF;
 text-align: center;
}
